.container {
  width: 100%;
  .header {
    text-align: center;
    margin-bottom: 50px;
  }
  .nav {
    justify-items: center;
    .row {
      display: grid;
      grid-template-columns: 200px 200px;
      grid-template-rows: 50px 50px;
      margin-top: 10px;
      .navlink {
        // justify-self: center;
        border: 1px solid #1c1d20;
        height: 50px;
        width: 150px;
        text-decoration: none;
        background-color: red;
        text-align: center;
        color: white;
        line-height: 200%;
        span{
          height: 45px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;
        }
      }
    }
    .row2 {
      display: grid;
      grid-template-columns: 400px;
      grid-template-rows: 50px 50px;
      margin-top: 10px;
      .navlink2 {
        color: white;
        // justify-self: center;
        margin: 0 25px;
        height: 50px;
        width: 76%;
        background-color: red;
        text-align: center;
      }
    }
  }
}
