.todo-list-container {
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .task-input {
    display: flex;
    margin-bottom: 10px;

    input[type="text"] {
      border-radius: 5px;
      flex: 1;
      padding: 5px;
      font-size: 16px;
    }

    button {
      padding: 5px 10px;
      background-color: #007bff;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      font-size: 16px;
      margin-left: 10px;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    font-size: 18px;

    button {
      border: none;
      cursor: pointer;
    }
  }
}
